In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

In [2]:
diabetes_dataset=pd.read_csv('/content/diabetes.csv')

In [3]:
diabetes_dataset.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148.0,72,35.0,NaN,33.6,0.627,50.0,1
1,1,NaN,66,29.0,0.0,26.6,0.351,31.0,0
2,8,183.0,64,0.0,0.0,NaN,0.672,32.0,1
3,1,NaN,66,NaN,94.0,28.1,0.167,21.0,0
4,0,137.0,40,35.0,168.0,43.1,2.288,NaN,1

In [4]:
diabetes_dataset=diabetes_dataset.fillna(diabetes_dataset.mean())

In [5]:
diabetes_dataset.shape

(24390, 9)

In [6]:
diabetes_dataset.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,24390.000000,24390.000000,24390.000000,24390.000000,24390.000000,24390.000000,24390.000000,24390.000000,24390.000000
mean,3.847683,120.855831,69.146945,20.537906,80.078314,32.007749,0.470002,33.244003,0.347806
std,3.370059,31.929950,19.386878,15.949532,115.424117,7.885898,0.325529,11.773393,0.476284
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.244000,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,34.000000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.000000,80.000000,32.000000,128.000000,36.600000,0.624000,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [7]:
diabetes_dataset['Outcome'].value_counts()

0    15907
1     8483
Name: Outcome, dtype: int64

In [8]:
diabetes_dataset.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.303640,110.062093,68.181178,19.677471,69.011001,30.324882,0.430845,31.212548
1,4.867853,141.095839,70.957916,22.151362,100.831319,35.163398,0.543427,37.053312

In [9]:
X=diabetes_dataset.drop(columns='Outcome',axis=1)
Y=diabetes_dataset['Outcome']

In [10]:
print(X)

       Pregnancies     Glucose  BloodPressure  SkinThickness     Insulin  \
0                6  148.000000             72      35.000000   80.078314
1                1  120.855831             66      29.000000    0.000000
2                8  183.000000             64       0.000000    0.000000
3                1  120.855831             66      20.537906   94.000000
4                0  137.000000             40      35.000000  168.000000
...            ...         ...            ...            ...         ...
24385           10  101.000000             76      48.000000  180.000000
24386            2  122.000000             70      27.000000    0.000000
24387            5  121.000000             72      23.000000  112.000000
24388            1  126.000000             60       0.000000    0.000000
24389            1   93.000000             70      31.000000    0.000000

             BMI  DiabetesPedigreeFunction        Age
0      33.600000                     0.627  50.000000
1      26.600000                     0.351  31.000000
2      32.007749                     0.672  32.000000
3      28.100000                     0.167  21.000000
4      43.100000                     2.288  33.244003
...          ...                       ...        ...
24385  32.900000                     0.171  63.000000
24386  36.800000                     0.340  27.000000
24387  26.200000                     0.245  30.000000
24388  30.100000                     0.349  47.000000
24389  30.400000                     0.315  23.000000

[24390 rows x 8 columns]

In [11]:
print(Y)

0        1
1        0
2        1
3        0
4        1
        ..
24385    0
24386    0
24387    0
24388    1
24389    0
Name: Outcome, Length: 24390, dtype: int64

In [12]:
scaler=StandardScaler()

In [13]:
scaler.fit(X)

StandardScaler()

In [14]:
standardized_data=scaler.transform(X)

In [15]:
print(standardized_data)

[[ 0.63867149  0.85013367  0.14716722 ...  0.20191526  0.48229635
   1.42323803]
 [-0.84501245  0.         -0.1623268  ... -0.68576337 -0.36557239
  -0.19060347]
 [ 1.23214506  1.94630568 -0.26549148 ...  0.          0.62053582
  -0.10566444]
 ...
 [ 0.3419347   0.00451527  0.14716722 ... -0.73648786 -0.69120314
  -0.27554249]
 [-0.84501245  0.16111127 -0.47182083 ... -0.24192405 -0.37171637
   1.16842095]
 [-0.84501245 -0.87242234  0.04400255 ... -0.20388068 -0.47616396
  -0.87011567]]

In [16]:
X=standardized_data
Y=diabetes_dataset['Outcome']

In [17]:
print(X)
print(Y)

[[ 0.63867149  0.85013367  0.14716722 ...  0.20191526  0.48229635
   1.42323803]
 [-0.84501245  0.         -0.1623268  ... -0.68576337 -0.36557239
  -0.19060347]
 [ 1.23214506  1.94630568 -0.26549148 ...  0.          0.62053582
  -0.10566444]
 ...
 [ 0.3419347   0.00451527  0.14716722 ... -0.73648786 -0.69120314
  -0.27554249]
 [-0.84501245  0.16111127 -0.47182083 ... -0.24192405 -0.37171637
   1.16842095]
 [-0.84501245 -0.87242234  0.04400255 ... -0.20388068 -0.47616396
  -0.87011567]]
0        1
1        0
2        1
3        0
4        1
        ..
24385    0
24386    0
24387    0
24388    1
24389    0
Name: Outcome, Length: 24390, dtype: int64

In [18]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=2)

In [19]:
print(X.shape,X_train.shape,X_test.shape)

(24390, 8) (19512, 8) (4878, 8)

In [20]:
classifier=svm.SVC(kernel='linear')

In [21]:
classifier.fit(X_train,Y_train)

SVC(kernel='linear')

In [22]:
X_train_prediction=classifier.predict(X_train)
training_data_accuracy=accuracy_score(X_train_prediction,Y_train)

In [29]:
print('Accuracy of training model is :',training_data_accuracy)

Accuracy of training model is : 0.8260865108651086

In [25]:
X_test_prediction=classifier.predict(X_test)
test_data_accuracy=accuracy_score(X_test_prediction,Y_test)

In [27]:
print('Accuracy of test model is :',test_data_accuracy)

Accuracy of test model is :  0.8304428044280443

In [26]:
input_data=(1,85,66,29,0,26.6,0.351,31)
input_data_as_numpy_array=np.asarray(input_data)
input_data_reshaped=input_data_as_numpy_array.reshape(1,-1)
std_data=scaler.transform(input_data_reshaped)
print(std_data)
prediction=classifier.predict(std_data)
print(prediction)
if(prediction[0]==0):
  print('The person is not diabetic')
else:
  print('The person is diabetic')

[[-0.84501245 -1.12297594 -0.1623268   0.53056524 -0.69378877 -0.68576337
  -0.36557239 -0.19060347]]
[0]
The person is not diabetic

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

In [30]:
import pickle

In [31]:
filename = 'trained_model.sav'
pickle.dump(classifier, open(filename, 'wb'))

In [32]:
loaded_model = pickle.load(open('trained_model.sav', 'rb'))

In [33]:
input_data=(1,85,66,29,0,26.6,0.351,31)
input_data_as_numpy_array=np.asarray(input_data)
input_data_reshaped=input_data_as_numpy_array.reshape(1,-1)
std_data=scaler.transform(input_data_reshaped)
print(std_data)
prediction=classifier.predict(std_data)
print(prediction)
if(prediction[0]==0):
  print('The person is not diabetic')
else:
  print('The person is diabetic')

[[-0.84501245 -1.12297594 -0.1623268   0.53056524 -0.69378877 -0.68576337
  -0.36557239 -0.19060347]]
[0]
The person is not diabetic

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(